@model IEnumerable<finalmvc.Models.BookF>

@{
    ViewData["Title"] = "GetBookings";
    Layout="CustomerLayout";
}

<style>
body{
    background-color:cadetblue;
}
h1{
    color:black;
}
table {
  border: 2px solid black;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid black;
}

tr:hover {background-color: white;}

</style>

<h1>My Bookings</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Totalvalue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totalvalue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cid)
            </td>
        </tr>
}
    </tbody>
</table>
