@model IEnumerable<finalmvc.Models.FlightD>

@{
    ViewData["Title"] = "GetFlights";
    Layout="CustomerLayout";
}
<style>
body{
    background-color:cadetblue;
}
a.custom link{
    color:black;
    font-weight:bold;
    text-decoration:none;
}

</style>

<h1>Flight Details</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departuretime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrivaltime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Totalcapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costperseat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departuretime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrivaltime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totalcapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costperseat)
            </td>
            <td>
            <ul>
                @Html.ActionLink("Book", "Edit", new { id=item.Fid },new{@class="bookf btn btn-primary btn-sm"}) 
            </ul>
            </td>
        </tr>
}
    </tbody>
</table>
