@model IEnumerable<ProductClient.Models.Product>

@{
    ViewData["Title"] = "GetAllProducts";
}

<h1>GetAllProducts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.pid  }) |
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new {  id=item.pid })
            </td>
        </tr>
}
    </tbody>
</table>
